.header{
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    position: relative;
}

.headerContainer{
    width: 100%;
    max-width: 1024px;
    margin: 20px 0px 100px 0px;
}
.headerContainer.listMode{
    margin: 20px 0px 0px 0px;
}
.headerList{
    display: flex;
    gap: 50px;
    margin-bottom: 32px;
}
.headerListItem{
    display: flex;
    align-items: center;
    gap: 10px;
}
.headerListItem.active{
    border: 1px solid white;
    padding: 12px;
    border-radius: 20px;
}
.headerDiscription{
    margin: 24px 0px;
}
.headerBtn{
    background-color: rgb(11, 162, 145);
    color: white;
    font-weight: 600;
    border: none;
    cursor: pointer;
    padding: 10px;
}
.headerSearch{
    height: 30px;
    background-color: white;
    border: 3px solid rgb(195, 10, 10);
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 10px 0px;
    border-radius: 5px;
    position: absolute;
    bottom: -25px;
    width: 100%;
    max-width: 1024px;
}
.headerIcon{
    color: rgb(188, 109, 5);
    font-size: 20px;
}
.headerSearchItem{
    display: flex;
    align-items: center;
    gap: 10px;
}

.headerSearchInput{
    border: none;
    outline: none;
}
.headerTextSearch{
    color:rgb(188, 109, 5);
    cursor: pointer;

}
.date{
    position: absolute;
    top: 50px;
    z-index: 2;
}
.options{
    position: absolute;
    top: 50px;
    background-color: white;
    color: rgb(188, 109, 5);
    border-radius: 4px;
    box-shadow: 1px 2px 3px rgb(195, 10, 10);
    z-index: 2;
}
.optionItem{
    width: 200px;
    display: flex;
    justify-content: space-between;
    margin: 10px;
}
.optionCounter{
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 16px;
}
.optionCounterButton{
    width: 24px;
    height: 24px;
    border: 1px solid rgb(11, 162, 145);
    cursor: pointer;
    background-color: white;
}
.optionCounterButton:disabled{
    cursor: not-allowed;
}